<section class="pricing_area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-15">
                    <h3 class="title">Find a Plan <br> That's Right For You</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_pricing text-center">
                    <div class="pricing_icon">
                        <img src="assets/images/icon/pricing-1.svg" alt="Icon">
                    </div>
                    <div class="pricing_title">
                        <h4 class="title">Beginers</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur.</p>
                    </div>
                    <div class="pricing_content">
                        <p>Lorem ipsum dolor. Sit amet, consetetur dost. sadipscing elitr, sed. Diam nonumy eirmod.
                            Tempor invidunt ut labore. Pet dolore magna. Aliquyam erat iamvoluptua.</p>
                        <span class="price">$0.00</span>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="main-btn">View all Ads</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_pricing pricing_active text-center">
                    <div class="pricing_icon">
                        <img src="assets/images/icon/pricing-2.svg" alt="Icon">
                    </div>
                    <div class="pricing_title">
                        <h4 class="title">Standard</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur.</p>
                    </div>
                    <div class="pricing_content">
                        <p>Lorem ipsum dolor. Sit amet, consetetur dost. sadipscing elitr, sed. Diam nonumy eirmod.
                            Tempor invidunt ut labore. Pet dolore magna. Aliquyam erat iamvoluptua.</p>
                        <span class="price">$0.00</span>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="main-btn main-btn-2">View all Ads</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_pricing text-center">
                    <div class="pricing_icon">
                        <img src="assets/images/icon/pricing-3.svg" alt="Icon">
                    </div>
                    <div class="pricing_title">
                        <h4 class="title">Premium</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur.</p>
                    </div>
                    <div class="pricing_content">
                        <p>Lorem ipsum dolor. Sit amet, consetetur dost. sadipscing elitr, sed. Diam nonumy eirmod.
                            Tempor invidunt ut labore. Pet dolore magna. Aliquyam erat iamvoluptua.</p>
                        <span class="price">$0.00</span>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="main-btn">View all Ads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>