<!--====== CATEGORY PART START ======-->

<tap-category></tap-category>

<!--====== CATEGORY PART ENDS ======-->

<!--====== ADS PART START ======-->

<tap-ads></tap-ads>

<!--====== ADS PART ENDS ======-->

<!--====== CHOOSE PART START ======-->

<tap-choose-area></tap-choose-area>

<!--====== CHOOSE PART ENDS ======-->

<!--====== LOCATIONS PART START ======-->

<tap-locations-area></tap-locations-area>

<!--====== LOCATIONS PART ENDS ======-->

<!--====== COUNETR PART START ======-->

<tap-counter-area></tap-counter-area>

<!--====== COUNETR PART ENDS ======-->

<!--====== PUBLISHED PART START ======-->

<tap-published-area></tap-published-area>

<!--====== PUBLISHED PART ENDS ======-->

<!--====== SERVICES PART START ======-->

<tap-services-area></tap-services-area>

<!--====== SERVICES PART ENDS ======-->

<!--====== PRICING PART START ======-->

<tap-pricing-area></tap-pricing-area>

<!--====== PRICING PART ENDS ======-->

<!--====== BLOG PART START ======-->

<tap-blog-area></tap-blog-area>

<!--====== BLOG PART ENDS ======-->

<!--====== CALL TO ACTION PART START ======-->

<tap-call-to-action-area></tap-call-to-action-area>

<!--====== CALL TO ACTION PART ENDS ======-->