<section class="counter_area bg_cover" style="background-image: url(assets/images/counter-bg.jpg)">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-9">
                <div class="counter_wrapper d-flex flex-wrap justify-content-between">
                    <div class="single_counter">
                        <div class="counter_items d-flex">
                            <div class="counter_icon">
                                <img src="assets/images/icon/counter-1.svg" alt="counter">
                            </div>
                            <div class="counter_count media-body">
                                <span class="count"><span class="counter">5000</span>+</span>
                            </div>
                        </div>
                        <p>Published Ads Here</p>
                    </div>
                    <div class="single_counter">
                        <div class="counter_items d-flex">
                            <div class="counter_icon">
                                <img src="assets/images/icon/counter-2.svg" alt="counter">
                            </div>
                            <div class="counter_count media-body">
                                <span class="count"><span class="counter">300</span>+</span>
                            </div>
                        </div>
                        <p>Register User Using</p>
                    </div>
                    <div class="single_counter">
                        <div class="counter_items d-flex">
                            <div class="counter_icon">
                                <img src="assets/images/icon/counter-3.svg" alt="counter">
                            </div>
                            <div class="counter_count media-body">
                                <span class="count"><span class="counter">200</span>+</span>
                            </div>
                        </div>
                        <p>Verified User Using</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>