.dropdown-select {
    width: 100%;
    float: none;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    border-radius: 5px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
}