<div class="header_navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/logo-img.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <!-- <ul class="navbar-nav m-auto">
                            <li>
                                <a class="active" href="index.html">Home <span class="line"></span></a>
                            </li>
                        </ul> -->
            </div>

            <div class="navbar_btn">
                <ul>
                    <li *ngIf="isLogin && isAuth">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">My Account</a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <ul>
                                    <li><a href="dashboard.html"><i class="fal fa-tachometer-alt-average"></i>
                                            Dashboard</a></li>
                                    <li><a href="profile-settings.html"><i class="fal fa-cog"></i> Profile Settings</a>
                                    </li>
                                    <li><a href="my-ads.html"><i class="fal fa-layer-group"></i> My Ads</a></li>
                                    <li><a href="offermessages.html"><i class="fal fa-envelope"></i> Offers/Messages</a>
                                    </li>
                                    <li><a href="payments.html"><i class="fal fa-wallet"></i> Payments</a></li>
                                    <li><a href="favourite-ads.html"><i class="fal fa-heart"></i> My Favourites</a></li>
                                    <li><a href="privacy-setting.html"><i class="fal fa-star"></i> Privacy Settings</a>
                                    </li>
                                    <li><a href="#"><i class="fal fa-sign-out"></i> Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- <a class="sign-up" href="post-ads.html">Post Ads</a> -->
                        <a class="sign-up main-btn main-btn-2" href="javascript:void(0)" (click)="openLoginModal()">
                            Post an Ad
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>