<section class="published_area pt-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section_title pb-15">
                    <h3 class="title">Recently <br> Published Ads</h3>
                </div>
            </div>
        </div>
        <div class="published_wrapper">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-1.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-2.png" alt="ads">
                            <p class="sticker sticker_color-1">New</p>
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-3.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-4.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-5.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-6.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-7.png" alt="ads">
                            <p class="sticker sticker_color-2">Popular</p>
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_ads_card mt-30">
                        <div class="ads_card_image">
                            <img src="assets/images/ads-8.png" alt="ads">
                        </div>
                        <div class="ads_card_content">
                            <div class="meta d-flex justify-content-between">
                                <p>Ram & Laptop</p>
                                <a class="like" href="#"><i class="fal fa-heart"></i></a>
                            </div>
                            <h4 class="title"><a href="product-details.html">8 GB DDR4 Ram, 4th Gen</a></h4>
                            <p><i class="far fa-map-marker-alt"></i>New York, USA</p>
                            <div class="ads_price_date d-flex justify-content-between">
                                <span class="price">$299.00</span>
                                <span class="date">25 Jan, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="published_btn">
                <a href="product.html" class="main-btn">View all Ads</a>
            </div>
        </div>
    </div>
</section>