<section class="services_area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-15">
                    <h3 class="title">ClassiFied <br> Here for You</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-hand-holding-box"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">Sell Your Item Safely</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-shopping-bag"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">Buy Directly</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-handshake"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">Friendly Platform</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-wallet"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">Pay in Person</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-headset"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">24/7 Support</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services d-flex mt-30">
                    <div class="services_icon">
                        <i class="fal fa-certificate"></i>
                    </div>
                    <div class="services_content media-body">
                        <h4 class="title"><a href="#">Verified Users</a></h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <a class="more" href="#">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>