/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

ngx-star-rating .star.filled {
  color: gold;
}

ngx-star-rating .star.empty {
  color: lightgray;
}

ngx-star-rating .star:hover {
  transform: scale(1.3);
}

label.star {
    float: right;
    padding: 3px !important;
    font-size: 15px !important;
    color: #444;
    transition: all .2s;
}

ngb-modal-window {
  z-index: 20000 !important;
}

.modal-backdrop.show {
  z-index: 19999 !important;
}

button.btn-close {
    border: 0px;
    background: transparent;
}